<div class="w-100 container-fluid footer px-4">
  <div class="w-100 divider row m-0 pt-5">
    <div class="col-lg-4 px-5 d-flex flex-column align-items-start px-0">
      <div
        class="logo_title d-flex gap-2 pb-4"
      >
        <div class="logo">
          <img class="white-logo" src="images/LogoWh.svg" alt="Logo" />
        </div>

        <div class="pt-3">
          <h1 class="p-0 m-0">INTEGRO</h1>
          <p class="p-0 m-0">ATTORNEYS & CONSULTANTS</p>
        </div>
      </div>
      <p class="text">
        Far far away, behind the word mountains, far from the countries Vokalia
        and Consonantia, there live the blind texts.
      </p>
      <div class="p-0">
        <ul class="d-flex justify-content-start  p-0 m-0">
          <li>
            <a
              target="_blank"
              class="nav-link pe-2 ps-0 py-0"
              aria-current="page"
              title=""
              data-bs-toggle="tooltip"
              data-bs-placement="right"
              data-bs-original-title="Home"
            >
              <div class="sosial-icon">
                <img src="images/facebook.svg" alt="" />
              </div>
            </a>
          </li>
          <li>
            <a
              target="_blank"
              class="nav-link px-2 py-0"
              title=""
              data-bs-toggle="tooltip"
              data-bs-placement="right"
              data-bs-original-title="Dashboard"
            >
              <div class="sosial-icon">
                <img src="images/twitter.svg" alt="" />
              </div>
            </a>
          </li>
          <li>
            <a
              target="_blank"
              class="nav-link px-2 py-0"
              title=""
              data-bs-toggle="tooltip"
              data-bs-placement="right"
              data-bs-original-title="Products"
            >
              <div class="sosial-icon">
                <img src="images/instagram.svg" alt="" />
              </div>
            </a>
          </li>
        </ul>
      </div>
    </div>

    <div class="col-lg-4 p-0 d-flex justify-content-center">
      <ul>
        <b>Business Hours</b>
        <li>Opening Days:</li>
        <li>Monday - Friday: 09:00-18:00</li>
        <li>Saturday: 09:00-18:00</li>
        <li>Vacations</li>
        <li>All sunday days all official holidays</li>
      </ul>
    </div>
    <div class="col-lg-4 p-0 d-flex justify-content-center">
      <ul>
        <b>Have a questions?</b>
        <li><i class="fa-solid fa-location-dot"></i>203 Fake St. Mountain View, San Francisco, California, USA</li>
        <li>+99450 6883448</li>
        <li>www.integrolaw.az</li>
      </ul>
    </div>
  </div>
 
  <div class="w-100 row m-0">
    <div
      class="col-lg-12 d-flex justify-content-center align-items-center copyright py-2"
    >
      © {{ currentYear }} Copyright All rights reserved  Integro
    </div>
  </div>
</div>
